h1
{
    color: rgba(24, 129, 115, 0.834);
}

body
{
    background-color: darkseagreen;
}
a{
    text-decoration: black;
    padding-right: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40;
}
a:hover
{color: crimson;
background-color: black;
}

.logo
{width: 30%;
background-color: greenyellow;
height: 150px;
float: left;
}

.menu
{
    width: 70%;
    background-color: darkseagreen;
    height: 150px;
    float:left;
}

.slider
{
    width: 100%;
    background-color: aquamarine;
    height: 400px;
    float: left;
}
.box1
{
    width: 258;
    background-color: goldenrod;
    height: 300px;
    float: left;
}
.box2
{
    width: 258;
    background-color: burlywood;
    height: 300px;
    float: left;
}
.box3
{
    width: 258;
    background-color: khaki;
    height: 300px;
    float: left;
}
.box4
{
    width: 258;
    background-color:wheat;
    height: 300px;
    float: left;
}
.box5
{
    width: 258;
    background-color:sienna;
    height: 300px;
    float: left;
}
.section1
{
    width: 545;
    background-color: bisque;
    height: 300px;
    float: left;
}
.section2
{
    width: 545;
    background-color: bisque;
    height: 300px;
    float: left;
}
.section2
{
    width: 545;
    background-color: bisque;
    height: 300px;
    float: left;
}
table, tr, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
}
table
{
    width: 800;
}
th
{
    background-color:black;
    color: aqua;
}
tr
{
    background-color: aqua;
}
td
{
    background-color: aquamarine;
}
