h1
    {
        color: rgb(2, 2, 2);
    }    

    body
    {
        background-color: rgb(215, 149, 232);
    }

    a
    {
        text-decoration:none;
        padding-right: 50px;
        font-family: fantasy;
        font-size: 18pt;
    }
       

    .profile
    {
       margin-left:auto;
       margin-right: auto;
       display: block;
    }

    .menu
    { list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin: 0;
        padding: 0;
    }

    .hobby
    {
     margin-left: auto;
     margin-right: auto;
     display: block;
    }
    
    

    .slider1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: auto;
        padding: auto;
    }

    .slider2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: auto;
        padding: auto;
        } 

        Table, tr, td, th
        {
            border: 1px dashed brown;
            border-collapse: collapse;
        }
        
        table
        {
            width: 600px
        }
    
        tr
        {
            background-color: bisque;
        }
    
        tr:nth-child(odd)
        {
            background-color: azure;
        }
    
        tr:hover
        {
            background-color: aqua;
        }
    
        th
        {
            background-color: rgb(170, 21, 21);
        }  
